
<supbar></supbar>

<div class="menu"> 

	<sidebar modulo="administracion"></sidebar> 
	
<div class="pagina">

<label class="titulo"> REGISTRO DE PERFILES </label>
	
<!-- MENU DE ACCIONES SOBRE EL REGISTRO  -->
<div class="toolbar">

  <button class="boton" (click)="consultar()"> Consultar </button>

  <button class="boton" (click)="insertar()"> Insertar </button>

  <button class="boton" (click)="modificar()"> Modificar </button>

  <button class="boton" (click)="eliminar()"> Eliminar </button>

  <button class="boton"> Importar </button>

  <button class="boton" (click)="exportar()"> Exportar </button>
    
  <button class="boton" (click)="volver()"> Volver </button>

</div>

		

<!-- FORMULARIO DE REGISTRO -->
<div *ngIf="vistaActiva === 'registro'" class="form-contenedor">

  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Identificación </label>

		<div class="form-fila">
			
			<div class="form-campo"> 
  				<label class="label">Id Cliente</label> 
  				<input type="number" [(ngModel)]="perfil.cliId" name="cliId" disabled>
  			</div>
			
  			<div class="form-campo"> 
  				<label class="label">Id Perfil</label> 
  				<input type="number" [(ngModel)]="perfil.perId" name="perId" disabled>
  			</div>
  			
  		</div>
  		
  	</div>
  	
  	<div class="form-grupo"> 
  			
  	<label class="titulo"> Datos Perfil </label>

		<div class="form-fila">
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Nombre <span class="obligatorio">*</span> </label> 
  				<input type="text" maxlength="50" [(ngModel)]="perfil.perNom" name="perNom"> 
  				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !perfil.perNom"> Valor Obligatorio </div>
  			</div>
  			
  			<div class="form-campo-200">
  				<label class="label"> Tipo Perfil <span class="obligatorio">*</span> </label> 
  				<select [(ngModel)]="perfil.perTipPer" name="perTipPer"> 
  					<option value="" selected hidden>Seleccione...</option>
					<option value="Página">Página</option>
					<option value="Módulo">Módulo</option>
					<option value="Administrador">Administrador</option>
				</select>
				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !perfil.perTipPer"> Valor Obligatorio </div>
			</div>
  			
  		</div>
  		
  	</div>
  		
  	<div class="form-grupo"> 
  			
  	<label class="titulo"> Datos Permisos </label>

		<div class="form-fila">	
  			
  			<div class="form-campo-200"> 
  				<label class="label">Módulo Administración</label> 
  				<input type="checkbox" maxlength="50" [(ngModel)]="perfil.perModAdm" name="perModAdm"> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label">Módulo Territorio</label> 
  				<input type="checkbox" maxlength="50" [(ngModel)]="perfil.perModTer" name="perModTer"> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label">Módulo Personas</label> 
  				<input type="checkbox" maxlength="50" [(ngModel)]="perfil.perModPer" name="perModPer"> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label">Módulo Productos</label> 
  				<input type="checkbox" maxlength="50" [(ngModel)]="perfil.perModPro" name="perModPro"> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label">Módulo Ventas</label> 
  				<input type="checkbox" maxlength="50" [(ngModel)]="perfil.perModVen" name="perModVen"> 
  			</div>

  		</div>
  		
  	</div>
  
  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Movimiento </label>

		<div class="form-fila">

  			<div class="form-campo-200"> 
  				<label class="label">Usuario Movimiento</label> 
  				<input type="text" maxlength="50" [(ngModel)]="perfil.perUsuMov" name="perUsuMov" disabled> 
  			</div>
 			
  			<div class="form-campo-200"> 
  				<label class="label">Fecha Movimiento</label> 
  				<input type="text" maxlength="100" [(ngModel)]="perfil.perFecMov" name="perFecMov" disabled> 
  			</div>
  			
  			<div class="form-campo"> 
  				<label class="label">Activo</label> 
  				<input type="checkbox" maxlength="50" [(ngModel)]="perfil.perAct" name="perAct" disabled> 
  			</div>
  			
 		</div>
 	
 	</div>
 
	<div class="toolbar"> 
	
		<button *ngIf="modoFormulario === 'insertar'" class="boton" (click)="guardar()"> Guardar </button>
		
		<button *ngIf="modoFormulario === 'modificar'" class="boton" (click)="actualizar()"> Actualizar </button>
		
		<!-- Botón Cancelar tiene misma lógica que insertar -->
		<button class="boton" (click)="insertar()"> Cancelar </button>
		
	</div>

</div>

<!-- TABLA DE RESULTADOS-->
<div *ngIf="vistaActiva === 'tabla'" class="tabla-contenedor">

  	<label class="titulo"> TABLA DE PERFILES </label>
    
  	<tabla 
  	
  		[columnas]="columnas" 
  		[titulosColumnas]="titulosColumnas"
  		[datos]="datos" 
		(filaSeleccionada)="perfilSeleccionado = $event"> 
  		
  	</tabla>
  	  
</div>

<!-- Cierres de div class menu y pagina -->
</div> </div>