.barra-superior {

    font-family: Calibri;

  	font-size: 14px;
    
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    align-items: center;

    gap: 10px;

    padding: 5px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35px;
    margin-right: 30px;

    border-bottom: 1px solid #cccccc;

    background-color: #eeeeee;

    box-sizing: border-box;

}

.barra-izquierda {

    font-weight: bold;

}

.barra-derecha {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

}

.boton {

    margin: 5px;

    padding: 5px;

    cursor: pointer;

    background-color: #ffffff;

}
