<!-- Barra de colores -->

<div class="barraColores">

    <button
        class="color blanco"
        (click)="seleccionarColor('BLANCO')">
    </button>

    <button
        class="color negro"
        (click)="seleccionarColor('NEGRO')">
    </button>

    <button
        class="color verde"
        (click)="seleccionarColor('VERDE')">
    </button>

    <button
        class="color azul"
        (click)="seleccionarColor('AZUL')">
    </button>

    <button
        class="color rojo"
        (click)="seleccionarColor('ROJO')">
    </button>

    <button
        class="color amarillo"
        (click)="seleccionarColor('AMARILLO')">
    </button>

</div>

<!-- Malla -->

<div
    #contenedor
    class="malla">
</div>