
<supbar></supbar>

<div class="menu"> 

	<sidebar modulo="administracion"></sidebar> 
	
<div class="pagina">

<label class="titulo"> REGISTRO DE CLIENTES </label>
	
<!-- MENU DE ACCIONES SOBRE EL REGISTRO  -->
<div class="toolbar">

  <button class="boton" (click)="consultar()"> Consultar </button>

  <button class="boton" (click)="insertar()"> Insertar </button>

  <button class="boton" (click)="modificar()"> Modificar </button>

  <button class="boton" (click)="eliminar()"> Eliminar </button>

  <button class="boton"> Importar </button>

  <button class="boton" (click)="exportar()"> Exportar </button>
    
  <button class="boton" (click)="volver()"> Volver </button>

</div>

		

<!-- FORMULARIO DE REGISTRO -->
<div *ngIf="vistaActiva === 'registro'" class="form-contenedor">

  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Identificación </label>

		<div class="form-fila">
			
			<div class="form-campo"> 
  				<label class="label">Id Cliente</label> 
  				<input type="number" [(ngModel)]="cliente.cliId" name="cliId" disabled>
  			</div>
  			
  		</div>
  		
  	</div>
  	
  	<div class="form-grupo"> 
  			
  	<label class="titulo"> Datos Cliente </label>

		<div class="form-fila">
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Nombre <span class="obligatorio">*</span> </label> 
  				<input type="text" maxlength="50" [(ngModel)]="cliente.cliNom" name="cliNom"> 
  				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !cliente.cliNom"> Valor Obligatorio </div>
  			</div>
  			
  			
  			
  		</div>
  		
  	</div>
  
  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Movimiento </label>

		<div class="form-fila">

  			<div class="form-campo-200"> 
  				<label class="label">Usuario Movimiento</label> 
  				<input type="text" maxlength="50" [(ngModel)]="cliente.cliUsuMov" name="cliUsuMov" disabled> 
  			</div>
 			
  			<div class="form-campo-200"> 
  				<label class="label">Fecha Movimiento</label> 
  				<input type="text" maxlength="100" [(ngModel)]="cliente.cliFecMov" name="cliFecMov" disabled> 
  			</div>
  			
  			<div class="form-campo"> 
  				<label class="label">Activo</label> 
  				<input type="checkbox" maxlength="50" [(ngModel)]="cliente.cliAct" name="cliAct" disabled> 
  			</div>
  			
 		</div>
 	
 	</div>
 
	<div class="toolbar"> 
	
		<button *ngIf="modoFormulario === 'insertar'" class="boton" (click)="guardar()"> Guardar </button>
		
		<button *ngIf="modoFormulario === 'modificar'" class="boton" (click)="actualizar()"> Actualizar </button>
		
		<!-- Botón Cancelar tiene misma lógica que insertar -->
		<button class="boton" (click)="insertar()"> Cancelar </button>
		
	</div>

</div>

<!-- TABLA DE RESULTADOS-->
<div *ngIf="vistaActiva === 'tabla'" class="tabla-contenedor">

  	<label class="titulo"> TABLA DE CLIENTES </label>
    
  	<tabla 
  	
  		[columnas]="columnas" 
  		[titulosColumnas]="titulosColumnas"
  		[datos]="datos" 
		(filaSeleccionada)="clienteSeleccionado = $event"> 
  		
  	</tabla>
  	  
</div>

<!-- Cierres de div class menu y pagina -->
</div> </div>