
<supbar></supbar>

<div class="menu">
  
	<sidebar modulo="compras"></sidebar>

<div class="pagina">

	<label class="titulo"> REGISTRO DE COMPRAS </label>

<!-- MENU DE ACCIONES SOBRE EL REGISTRO  -->
<div barraAcciones class="toolbar">

<button class="boton boton-accion accion-consultar" (click)="consultar()"> Consultar </button>

<button class="boton boton-accion accion-insertar" (click)="insertar()"> Insertar </button>

<button class="boton boton-accion accion-modificar" (click)="modificar()"> Modificar </button>

<button class="boton boton-accion accion-eliminar" (click)="eliminar()"> Eliminar </button>

<button class="boton boton-accion accion-volver" (click)="volver()"> Volver </button>

</div>

<!-- FORMULARIO DE REGISTRO -->
<div *ngIf="vistaActiva === 'registro'" class="form-contenedor">

  	<datosIdentificacion [campos]="[{etiqueta:'Id Empresa',valor:compra.empId},{etiqueta:'Id Compra',valor:compra.comId}]"></datosIdentificacion>
	
	<div class="form-grupo">
	
		<label class="titulo"> Datos Persona </label>
	
 		<div class="form-fila"> 
 		
		 	  	<div class="form-campo-500">
				<datosPersonaRelacion [personas]="personasLista" [personaId]="compra.perIdCom" etiqueta="Comprador *" (personaIdChange)="compra.perIdCom=$event"></datosPersonaRelacion>
				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !compra.perIdCom"> Valor Obligatorio </div>
			</div>
 		
		  	<div class="form-campo-500">
				<datosPersonaRelacion [personas]="personasLista" [personaId]="compra.perIdVen" etiqueta="Vendedor *" (personaIdChange)="compra.perIdVen=$event"></datosPersonaRelacion>
				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !compra.perIdVen"> Valor Obligatorio </div>
			</div>
 		
  		</div>

  	</div>
	
	<div class="form-grupo">
	
		<tablaEdicion
			titulo="Detalle de la Compra"
		
		    [columnas]="columnasDetalle"
		
		    [titulosColumnas]="titulosColumnasDetalle"
		
		    [datos]="compraDetalleLista"
		    
		    (insertarLinea)="insertarCompraDetalle()">
		
		    <!-- Columna Producto -->
		    <ng-template tablaColumna="proId" let-fila>
		
		        <selectorBusqueda
		
		            [datos]="productosLista"
		
		            [idSeleccionado]="fila.proId"
		
		            [campoDescripcion]="'proNom'"
		
		            [campoId]="'proId'"
		
		            (valorSeleccionado)="seleccionarProductoDetalle(fila, $event)">
		
		        </selectorBusqueda>
		
		    </ng-template>
		
		    <!-- Columna Cantidad -->
		    <ng-template tablaColumna="comDetCan" let-fila>
		
		        <input type="number" [(ngModel)]="fila.comDetCan" class="input-tabla"
		        (ngModelChange)="actualizarLinea(fila)">
		
		    </ng-template>
		
		    <!-- Columna Precio -->
		    <ng-template tablaColumna="comDetPre" let-fila>
		
		        <input type="number" [(ngModel)]="fila.comDetPre" class="input-tabla"
		        (ngModelChange)="actualizarLinea(fila)">
		
		    </ng-template>
		    
		    <!-- Columna Descuento -->
		    <ng-template tablaColumna="comDetDes" let-fila>
		
		        <input type="number" [(ngModel)]="fila.comDetDes" class="input-tabla"
		        (ngModelChange)="actualizarLinea(fila)">
		
		    </ng-template>
		    
		    <!-- Columna IVA -->
		    <ng-template tablaColumna="comDetIva" let-fila>
		
		        <input type="number" [(ngModel)]="fila.comDetIva" class="input-tabla"
		        (ngModelChange)="actualizarLinea(fila)">
		
		    </ng-template>
		
		    <!-- Columna Importe -->
		    <ng-template tablaColumna="comDetImp" let-fila>
		
		        <input type="number" [(ngModel)]="fila.comDetImp" class="input-tabla" 
		        (ngModelChange)="actualizarLinea(fila)" disabled>
		
		    </ng-template>
		
		    <!-- Columna Acción -->
		    <ng-template tablaColumna="accion" let-fila let-indice="indice">
		
<button class="boton boton-accion accion-eliminar" (click)="eliminarCompraDetalle(indice)"> Eliminar </button>
		
		    </ng-template>
		
		</tablaEdicion>
	
	</div>
	
	<div class="form-grupo"> 
  	
  		<label class="titulo"> Datos Importes </label>

		<div class="form-fila">
		
  			<div class="form-campo-200"> 
  				<label class="label"> Subtotal </label> 
  				<input type="number" maxlength="10" [(ngModel)]="compra.comImpSub" name="comImpSub" disabled> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Descuento </label> 
  				<input type="number" maxlength="10" [(ngModel)]="compra.comImpDes" name="comImpDes" disabled> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label"> I.V.A. <span class="obligatorio">*</span> </label> 
  				<input type="number" maxlength="10" [(ngModel)]="compra.comImpIva" name="comImpIva" disabled> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Total </label> 
  				<input type="number" maxlength="10" [(ngModel)]="compra.comImpTot" name="comImpTot" disabled> 
  			</div>
  			
  		</div>
  			
  		<div class="form-fila">
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Cobrado </label> 
  				<input type="number" maxlength="10" [(ngModel)]="compra.comImpCob" name="comImpCob" disabled> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Pendiente </label> 
  				<input type="number" maxlength="10" [(ngModel)]="compra.comImpPen" name="comImpPen" disabled> 
  			</div>
  			
  		</div>

	</div>
	
	<div class="form-grupo"> 
  	
  		<label class="titulo"> Datos Fechas </label>

		<div class="form-fila">
		
  			<div class="form-campo-200"> 
  				<label class="label"> Fecha Presupuesto </label> 
  				<input type="date" maxlength="10" [(ngModel)]="compra.comFecPre" name="comFecPre" disabled> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Fecha Pedido </label> 
  				<input type="date" maxlength="10" [(ngModel)]="compra.comFecPed" name="comFecPed" disabled> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Fecha Albarán </label> 
  				<input type="date" maxlength="10" [(ngModel)]="compra.comFecAlb" name="comFecAlb" disabled> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Fecha Factura </label> 
  				<input type="date" maxlength="10" [(ngModel)]="compra.comFecFac" name="comFecFac" disabled> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label"> Fecha Cobro </label> 
  				<input type="date" maxlength="10" [(ngModel)]="compra.comFecCob" name="comFecCob" disabled> 
  			</div>
  			
  		</div>

	</div>

  	<datosMovimiento [mostrarTipo]="false" [mostrarCausa]="false" [usuario]="compra.comUsuMov||''" [fecha]="compra.comFecMov" [activo]="compra.comAct"></datosMovimiento>
 
	<div barraAcciones class="toolbar"> 
	
<button *ngIf="modoFormulario === 'insertar'" class="boton boton-accion accion-guardar" (click)="guardar()"> Guardar </button>
		
<button *ngIf="modoFormulario === 'modificar'" class="boton boton-accion accion-actualizar" (click)="actualizar()"> Actualizar </button>
		
		<!-- Botón Cancelar tiene misma lógica que insertar -->
<button class="boton boton-accion accion-cancelar" (click)="insertar()"> Cancelar </button>
		
	</div>

</div>

<!-- TABLA DE RESULTADOS-->
<div *ngIf="vistaActiva === 'tabla'" class="tabla-contenedor">

  	<tabla 
  	
		titulo="TABLA DE COMPRAS"
		[permitirImportar]="true"
		[permitirExportar]="true"
		(exportarSolicitado)="exportar()"
  		[columnas]="columnas" 
  		[titulosColumnas]="titulosColumnas"
  		[datos]="datos" 
		(filaSeleccionada)="compraSeleccionada = $event"> 
  		
  	</tabla>

</div>

<!-- Cierres de div class menu y pagina -->
</div> </div>
