
<formulario [formulario]="formulario Personas"> </formulario>


<supbar></supbar>

<div class="menu"> 

	<sidebar modulo="personas"></sidebar> 
	
<div class="pagina">

<label class="titulo"> REGISTRO DE PERSONAS </label>

<!-- MENU DE ACCIONES SOBRE EL REGISTRO  -->
<div class="toolbar">

  <button class="boton" (click)="consultar()"> Consultar </button>

  <button class="boton" (click)="insertar()"> Insertar </button>

  <button class="boton" (click)="modificar()"> Modificar </button>

  <button class="boton" (click)="eliminar()"> Eliminar </button>

  <button class="boton"> Importar </button>

  <button class="boton" (click)="exportar()"> Exportar </button>
    
  <button class="boton" (click)="volver()"> Volver </button>

</div>

<!-- FORMULARIO DE REGISTRO -->
<div *ngIf="vistaActiva === 'registro'" class="form-contenedor">

  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Identificación </label>

		<div class="form-fila">
		
		  	<div class="form-campo"> 
  				<label class="label">Id Cliente</label> 
  				<input type="number" maxlength="10" [(ngModel)]="persona.cliId" name="cliId" disabled> 
  			</div>
		
  			<div class="form-campo"> 
  				<label class="label">Id Persona</label> 
  				<input type="number" maxlength="10" [(ngModel)]="persona.perId" name="perId" disabled> 
  			</div>
  			
  		</div>
  		
  	</div>
  			
  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Persona </label>

		<div class="form-fila">  	
  	
  			<div class="form-campo-200">
  				<label class="label"> Tipo Documento <span class="obligatorio">*</span> </label> 
  				<select [(ngModel)]="persona.perTipDoc" name="perTipDoc"> 
  					<option value="" selected hidden>Seleccione...</option>
					<option value="D.N.I.">D.N.I.</option>
					<option value="C.I.F.">C.I.F.</option>
					<option value="Pasaporte">Pasaporte</option>
					<option value="Tarjeta Residencia">Tarjeta Residencia</option>
					<option value="Otro">Otro</option>
				</select>
				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !persona.perTipDoc"> Valor Obligatorio </div>
			</div>

  			<div class="form-campo-200"> 
  				<label class="label"> Documento <span class="obligatorio">*</span> </label> 
  				<input type="text" maxlength="50" [(ngModel)]="persona.perDoc" name="perDoc" (ngModelChange)="actualizarNombreCompleto()"> 
  				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !persona.perDoc"> Valor Obligatorio </div>
  			</div>
  			
  		</div>
  			
  		<div class="form-fila">  

  			<div class="form-campo-200"> 
  				<label class="label"> Nombre <span class="obligatorio">*</span> </label> 
  				<input type="text" maxlength="50" [(ngModel)]="persona.perNom" name="perNom" (ngModelChange)="actualizarNombreCompleto()"> 
  				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !persona.perNom"> Valor Obligatorio </div>
  			</div>

  			<div class="form-campo-200"> 
  				<label class="label"> Apellido 1 <span class="obligatorio">*</span> </label> 
  				<input type="text" maxlength="50" [(ngModel)]="persona.perApe1" name="perApe1" (ngModelChange)="actualizarNombreCompleto()"> 
  				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !persona.perApe1"> Valor Obligatorio </div>
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label">Apellido 2</label> 
  				<input type="text" maxlength="50" [(ngModel)]="persona.perApe2" name="perApe2" (ngModelChange)="actualizarNombreCompleto()"> 
  			</div>
  		
  		</div>	
  		
  		<div class="form-fila">
  		  		  
  		 	<div class="form-campo-500"> 
  				<label class="label">Nombre Completo</label> 
  				<input type="text" maxlength="100" [(ngModel)]="persona.perNomCom" name="perNomCom" disabled> 
  			</div>
  			
  		</div>
  		
  		<div class="form-fila">  
  			  			
  			<div class="form-campo-200"> 
  				<label class="label">Fecha Nacimiento</label> 
  				<input type="date" maxlength="10" [(ngModel)]="persona.perFecNac" name="perFecNac"> 
  			</div>
  			
  		</div>

  	</div>
  			
	<div class="form-grupo">
	
	<label class="titulo"> Datos Domicilio </label>
	
 		<div class="form-fila"> 
 		
  			<div class="form-campo-500">
  				<label class="label"> Selector Domicilio <span class="obligatorio">*</span> </label> 
				    <selectorBusqueda
				        [datos]="domiciliosLista"
				        [idSeleccionado]="persona.domId"
				        [campoDescripcion]="'domDir'"
				        [campoId]="'domId'"
				        (valorSeleccionado)="persona.domId = $event">
				    </selectorBusqueda>
				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !persona.domId"> Valor Obligatorio </div>
			</div>
  			
  		</div>

  	</div>

	<div class="form-grupo">
	
	<label class="titulo"> Datos Contacto </label>
	
		<div class="form-fila">
	
  			<div class="form-campo-200"> 
  				<label class="label"> Teléfono </label> 
  				<input type="number" maxlength="30" [(ngModel)]="persona.perTel" name="perTel"> 
  			</div>
  			
  			<div class="form-campo-200"> 
  				<label class="label">Email</label> 
  				<input type="email" maxlength="50" [(ngModel)]="persona.perEma" name="perEma"> 
  			</div>
  			
  		</div>
  		
  	</div>

  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Movimiento </label>

		<div class="form-fila">

  			<div class="form-campo-200"> 
  				<label class="label">Usuario Movimiento</label> 
  				<input type="text" maxlength="50" [(ngModel)]="persona.perUsuMov" name="perUsuMov" disabled> 
  			</div>
 			
  			<div class="form-campo-200"> 
  				<label class="label">Fecha Movimiento</label> 
  				<input type="datetime-local" maxlength="10" [(ngModel)]="persona.perFecMov" name="perFecMov" disabled> 
  			</div>
  			
  			<div class="form-campo"> 
  				<label class="label">Activo</label> 
  				<input type="checkbox" maxlength="10" [(ngModel)]="persona.perAct" name="perAct" disabled> 
  			</div>
  			
 		</div>
 	
 	</div>
 
	<div class="toolbar"> 
	
		<button *ngIf="modoFormulario === 'insertar'" class="boton" (click)="guardar()"> Guardar </button>
		
		<button *ngIf="modoFormulario === 'modificar'" class="boton" (click)="actualizar()"> Actualizar </button>
		
		<!-- Botón Cancelar tiene misma lógica que insertar -->
		<button class="boton" (click)="insertar()"> Cancelar </button>
		
	</div>

</div>

<!-- TABLA DE RESULTADOS-->
<div *ngIf="vistaActiva === 'tabla'" class="tabla-contenedor">

  	<label class="titulo"> TABLA DE PERSONAS </label>
  
  	<tabla 
  	
  		[columnas]="columnas" 
  		[titulosColumnas]="titulosColumnas"
  		[datos]="datos" 
		(filaSeleccionada)="personaSeleccionada = $event"> 
  		
  	</tabla>

</div>

<!-- Cierres de div class menu y pagina -->
</div> </div>