
<supbar></supbar>

<div class="menu">
  
	<sidebar modulo="territorio"></sidebar>

<div class="pagina">

	<label class="titulo"> REGISTRO DE DOMICILIOS </label>

<!-- MENU DE ACCIONES SOBRE EL REGISTRO  -->
<div class="toolbar">

  <button class="boton" (click)="consultar()"> Consultar </button>

  <button class="boton" (click)="insertar()"> Insertar </button>

  <button class="boton" (click)="modificar()"> Modificar </button>

  <button class="boton" (click)="eliminar()"> Eliminar </button>

  <button class="boton"> Importar </button>

  <button class="boton" (click)="exportar()"> Exportar </button>
    
  <button class="boton" (click)="volver()"> Volver </button>

</div>

<!-- FORMULARIO DE REGISTRO -->
<div *ngIf="pestanaActiva === 'registro'" class="form-contenedor">

  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Identificación </label>

		<div class="form-fila">
	
  			<div class="form-campo"> 
  				<label class="label">Id Cliente</label> 
  				<input type="number" maxlength="10" [(ngModel)]="domicilio.idCliente" name="idCliente" disabled> 
  			</div>
		
  			<div class="form-campo"> 
  				<label class="label">Id Domicilio</label> 
  				<input type="number" maxlength="10" [(ngModel)]="domicilio.idDomicilio" name="idDomicilio" disabled> 
  			</div>
  			
  		</div>
  		
  	</div>
  			
  	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Domicilio </label>

		<div class="form-fila">

  			<div class="form-campo"> 
  				<label class="label"> Tipo Vía <span class="obligatorio">*</span> </label> 
  				<input type="text" maxlength="10" [(ngModel)]="domicilio.tipoVia" name="tipoVia" (ngModelChange)="actualizarDireccion()"> 
  				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !domicilio.tipoVia"> Valor Obligatorio </div>
  			</div>

  			<div class="form-campo"> 
  				<label class="label"> Vía <span class="obligatorio">*</span> </label> 
  				<input type="text" maxlength="100" [(ngModel)]="domicilio.via" name="via" (ngModelChange)="actualizarDireccion()"> 
  				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !domicilio.via"> Valor Obligatorio </div>
  			</div>
		
  			<div class="form-campo"> 
  				<label class="label"> Número <span class="obligatorio">*</span> </label> 
  				<input type="number" maxlength="10" [(ngModel)]="domicilio.numero" name="numero" (ngModelChange)="actualizarDireccion()"> 
  				<div class="mensaje-obligatorio" *ngIf="mostrarObligatorios && !domicilio.numero"> Valor Obligatorio </div>
  			</div>
  			
  		</div>

		<div class="form-fila">
  			
  			<div class="form-campo"> 
  				<label class="label">Km</label> 
  				<input type="text" maxlength="10" [(ngModel)]="domicilio.km" name="km" (ngModelChange)="actualizarDireccion()"> 
  			</div>

  			<div class="form-campo"> 
  				<label class="label">Edificio</label> 
  				<input type="text" maxlength="10" [(ngModel)]="domicilio.edificio" name="edificio" (ngModelChange)="actualizarDireccion()"> 
  			</div>
  			
  			<div class="form-campo"> 
  				<label class="label">Bloque</label> 
  				<input type="text" maxlength="10" [(ngModel)]="domicilio.bloque" name="bloque" (ngModelChange)="actualizarDireccion()"> 
  			</div>
  			
  			<div class="form-campo"> 
  				<label class="label">Portal</label> 
  				<input type="text" maxlength="10" [(ngModel)]="domicilio.portal" name="portal" (ngModelChange)="actualizarDireccion()"> 
  			</div>
  			
  		</div>

		<div class="form-fila">
  			  			
  			<div class="form-campo"> 
  				<label class="label">Escalera</label> 
  				<input type="text" maxlength="10" [(ngModel)]="domicilio.escalera" name="escalera" (ngModelChange)="actualizarDireccion()"> 
  			</div>
  			
  			<div class="form-campo"> 
  				<label class="label">Planta</label> 
  				<input type="text" maxlength="10" [(ngModel)]="domicilio.planta" name="planta" (ngModelChange)="actualizarDireccion()"> 
  			</div>
  			  			
  			<div class="form-campo"> 
  				<label class="label">Puerta</label> 
  				<input type="text" maxlength="10" [(ngModel)]="domicilio.puerta" name="puerta" (ngModelChange)="actualizarDireccion()"> 
  			</div>
  			  			
  			<div class="form-campo"> 
  				<label class="label">Observaciones</label> 
  				<input type="text" maxlength="100" [(ngModel)]="domicilio.observaciones" name="observaciones" (ngModelChange)="actualizarDireccion()"> 
  			</div>
  			
  		</div>

	</div>
	
	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Dirección </label>

		<div class="form-fila">

  			<div class="form-campo-largo"> 
  				<label class="label">Dirección Postal</label> 
  				<input type="text" maxlength="100" [(ngModel)]="domicilio.direccion" name="direccion"> 
  			</div>
 		
 		</div>
 	
 	</div>

 	<div class="form-grupo"> 
  	
  	<label class="titulo"> Datos Movimiento </label>

		<div class="form-fila">

  			<div class="form-campo"> 
  				<label class="label">Usuario Movimiento</label> 
  				<input type="text" maxlength="50" [(ngModel)]="domicilio.usuarioMovimiento" name="usuarioMovimiento" disabled> 
  			</div>
 			
  			<div class="form-campo"> 
  				<label class="label">Fecha Movimiento</label> 
  				<input type="datetime-local" maxlength="10" [(ngModel)]="domicilio.fechaMovimiento" name="fechaMovimiento" disabled> 
  			</div>
  			
  			<div class="form-campo"> 
  				<label class="label">Activo</label> 
  				<input type="checkbox" maxlength="10" [(ngModel)]="domicilio.activo" name="activo" disabled> 
  			</div>
  			
 		</div>
 	
 	</div>
 
	<div class="toolbar"> 
	
		<button class="boton" (click)="guardar()"> Guardar </button> 
		
		<!-- Botón Cancelar tiene misma lógica que insertar -->
		<button class="boton" (click)="insertar()"> Cancelar </button>
		
	</div>

</div>

<!-- TABLA DE RESULTADOS-->
<div *ngIf="pestanaActiva === 'tabla'" class="tabla-contenedor">

  	<label class="titulo"> TABLA DE DOMICILIOS </label>
  
  	<tabla 
  	
  		[columnas]="columnas" 
  		[titulosColumnas]="titulosColumnas"
  		[datos]="datos" 
		(filaSeleccionada)="domicilioSeleccionado = $event"> 
  		
  	</tabla>

</div>

<!-- Cierres de div class menu y pagina -->
</div> </div>